<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <h6>所属<h6/><br />
    <%= f.label(:student, for: nil, class:'user-humanType_label') do %>
      <%= f.radio_button :humanType, :student %>学生
    <% end %>
    <%= f.label(:humanresourcedevelopment, for: nil, class:'user-humanType_label') do %>
      <%= f.radio_button :humanType, :humanresourcedevelopment %>人事
    <% end %>
  </div>

  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :graduateYear %><br />
    <%= f.text_field :graduateYear, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :university %><br />
    <%= f.text_field :university, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :industry %><br />
    <%= f.text_field :university, autofocus: true %>
  </div>
  
  <div class="field">
      <%= f.label(:large, for: nil, class:'user-companyScale_label') do %>
        <%= f.radio_button :companyScale, :large %>大手
      <% end %>
      <%= f.label(:smallmedium, for: nil, class:'user-companyScale_label') do %>
        <%= f.radio_button :companyScale, :smallmedium %>中小
      <% end %>
      <%= f.label(:venture, for: nil, class:'user-companyScale_label') do %>
        <%= f.radio_button :companyScale, :venture %>ベンチャー
      <% end %>
      <%= f.label(:nothing, for: nil, class:'user-companyScale_label') do %>
        <%= f.radio_button :companyScale, :nothing %>特に気にしない
      <% end %>
    </div>

  <div class="field">
    <%= f.label :selfPR %><br />
    <%= f.text_area :selfPR, autofocus: true, placeholder: "Please your comments in 600 words" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
