<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.number_field :category %>
  </div>

  <div class="field">
    <%= form.label :article_industry %>
    <%= form.text_field :article_industry %>
  </div>

  <div class="field">
    <%= form.label :article_companyScale %>
    <%= form.number_field :article_companyScale %>
  </div>

  <div class="field">
    <%= form.label :article_content %>
    <%= form.text_area :article_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
