<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label(:selfPR, for: nil, class:'category_label') do %>
      <%= form.radio_button :category, :selfPR %>自己PR
    <% end %>
    <%= form.label(:reason, for: nil, class:'category_label') do %>
      <%= form.radio_button :category, :reason %>志望動機
    <% end %>
    <%= form.label(:movie, for: nil, class:'category_label') do %>
      <%= form.radio_button :category, :movie %>面接動画
    <% end %>
  </div>

  <div class="field">
    <%= form.label :article_industry %>
    <%= form.text_field :article_industry %>
  </div>

  <div class="field">
    <%= form.label(:large, for: nil, class:'article-companyScale_label') do %>
      <%= form.radio_button :article_companyScale, :large %>大手
    <% end %>
    <%= form.label(:smallmedium, for: nil, class:'article-companyScale_label') do %>
      <%= form.radio_button :article_companyScale, :smallmedium %>中小
    <% end %>
    <%= form.label(:venture, for: nil, class:'article-companyScale_label') do %>
      <%= form.radio_button :article_companyScale, :venture %>ベンチャー
    <% end %>
    <%= form.label(:nothing, for: nil, class:'article-companyScale_label') do %>
      <%= form.radio_button :article_companyScale, :nothing %>特に気にしない
    <% end %>
  </div>

  <div class="field">
    <%= form.label :article_content %>
    <%= form.text_area :article_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
