<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <h3>自己PR</h3>
    <% @selfPRarticles.each do |article| %>
      <tr>
        <td><%= article.category %></td>
        <td><%= article.article_industry %></td>
        <td><%= article.article_companyScale %></td>
        <td><%= article.article_content %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <tbody>
    <h3>志望動機</h3>
    <% @reasonarticles.each do |article| %>
      <tr>
        <td><%= article.category %></td>
        <td><%= article.article_industry %></td>
        <td><%= article.article_companyScale %></td>
        <td><%= article.article_content %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <h3>面接動画</h3>
  <tbody>
    <% @moviearticles.each do |article| %>
      <tr>
        <td><%= article.category %></td>
        <td><%= article.article_industry %></td>
        <td><%= article.article_companyScale %></td>
        <td><%= article.article_content %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
