<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Article industry:</strong>
  <%= @article.article_industry %>
</p>

<p>
  <strong>Article companyscale:</strong>
  <%= @article.article_companyScale %>
</p>

<p>
  <strong>Article content:</strong>
  <%= @article.article_content %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', articles_path %>

<%= form_with(model:[@article, @comment], method: :post) do |f| %>
  <%= f.text_area :comment_content, autofocus: true %>
  <%= f.hidden_field :article_id, value: @article.id %>
  <%= f.submit %>
<% end %>

<table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.email %></td>
        <td><%= comment.comment_content %></td>
      </tr>
    <% end %>
  </tbody>
</table>