<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to mypage_path do %>
              <div class="nav-link">
                マイページ
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to articles_path do %>
              <div class="nav-link">
                自分の投稿へ
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to otherarticle_path do %>
              <div class="nav-link">
                他の人の投稿にコメントする
              </div>
            <% end %>
          </li>
          <%  if user_signed_in?  %>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>       
      </div>
    </nav>
  </div>
</div>