<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OriginalAppRecruitingsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/flash" %>
    <%  if user_signed_in?  %>
    　<%= render "layouts/sidebar" %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>
    <div id="modalArea"></div>
    <main>
      <div class="container-fruid h-100 p-2 d-flex flex-column">
        <%= yield %>
      </div>
    </main>
    <% unless user_signed_in? %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
